@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("../imagens/fundo-madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
}

#div-iphone {
    position: relative;
    top: 50px;
    width: fit-content;
    margin: auto;
}

#img-iphone {
    display: block;
}

#tela-home {
    position: absolute;
    display: block;
    width: 270px;
    height: 474px;
    bottom: 74px;
    left: 21px;
    border-radius: 2px 2px 2px 2px;
    
}

#div-iphone > iframe {
    position: absolute;
    width: 270px;
    height: 478px;
    bottom: 75px;
    left: 21px;
}

iframe > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#div-botoes {
    position: relative;
    left: 88vw;
    bottom: 600px;
    width: fit-content;
}

#div-botoes > a {
    display: block;
    margin-bottom: 15px;
}

.botao {
    border-radius: 50%;
    width: 55px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.448);
}

.botao:hover {
    border: 2px solid blue;
    transition-duration: 2s;
    
}