@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("../imagens/fundo-madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
}

#div-iphone {
    position: relative;
    top: 50px;
    width: fit-content;
    margin: auto;
}

#img-iphone {
    display: block;
}

#tela-home {
    position: absolute;
    display: block;
    width: 270px;
    height: 474px;
    bottom: 74px;
    left: 21px;
    border-radius: 2px 2px 2px 2px;
    
}

#div-iphone > iframe {
    position: absolute;
    width: 270px;
    height: 478px;
    bottom: 75px;
    left: 21px;
    z-index: 10;
}

iframe > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#div-botoes {
    position: relative;
    text-align: right;
    width: 99vw;
    bottom: 600px;
}

#div-botoes > a {
    display: inline-block;
    margin-bottom: 15px;
}

.botao {
    border-radius: 50%;
    width: clamp(30px, 10vw, 55px);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.448);
    transition: all 0.5s ease-in-out;
}

.botao:hover {
    border: 2px solid rgba(255, 255, 255, 0.495);
    box-sizing: border-box;
    transform: translate(-7px, -4px);
    box-shadow: 7px 4px 12px rgba(0, 0, 0, 0.448);
    
}